@page "/calendar"
@inject NavigationManager Navigation

<div class="main">
    <div class="day">
        <div class="day-info">
            <p>Monday</p>
            <hr>
        </div>
        <div class="cards">
            @foreach (var lesson in mondayEvents)
            {
            <div class="lesson-card" @onclick="() => OpenLessonDetails(lesson.id)">
                <p>@lesson.title</p>
            </div>
            }
        </div>
    </div>

    <div class="day">
        <div class="day-info">
            <p>Tuesday</p>
            <hr>
        </div>
        <div class="cards">
            @foreach (var lesson in mondayEvents)
            {
            <div class="lesson-card" @onclick="() => OpenLessonDetails(lesson.id)">
                <p>@lesson.title</p>
            </div>
            }
        </div>
    </div>

    <div class="day">
        <div class="day-info">
            <p>Wednesday</p>
            <hr>
        </div>
        <div class="cards">
            @foreach (var lesson in mondayEvents)
            {
            <div class="lesson-card" @onclick="() => OpenLessonDetails(lesson.id)">
                <p>@lesson.title</p>
            </div>
            }
        </div>
    </div>

    <div class="day">
        <div class="day-info">
            <p>Thursday</p>
            <hr>
        </div>
        <div class="cards">
            @foreach (var lesson in mondayEvents)
            {
            <div class="lesson-card" @onclick="() => OpenLessonDetails(lesson.id)">
                <p>@lesson.title</p>
            </div>
            }
        </div>
    </div>

    <div class="day">
        <div class="day-info">
            <p>Friday</p>
            <hr>
        </div>
        <div class="cards">
            @foreach (var lesson in mondayEvents)
            {
            <div class="lesson-card" @onclick="() => OpenLessonDetails(lesson.id)">
                <p>@lesson.title</p>
            </div>
            }
        </div>
    </div>

    <div class="day">
        <div class="day-info">
            <p>Saturday</p>
            <hr>
        </div>
        <div class="cards">
            @foreach (var lesson in mondayEvents)
            {
            <div class="lesson-card" @onclick="() => OpenLessonDetails(lesson.id)">
                <p>@lesson.title</p>
            </div>
            }
        </div>
    </div>

    <div class="day">
        <div class="day-info">
            <p>Sunday</p>
            <hr>
        </div>
        <div class="cards">
            @foreach (var lesson in mondayEvents)
            {
            <div class="lesson-card" @onclick="() => OpenLessonDetails(lesson.id)">
                <p>@lesson.title</p>
            </div>
            }
        </div>
    </div>
</div>


@code {

private class Meeting
{
public int id { get; set; }
public string title { get; set; }
public int studentId { get; set; }
public int teacherId { get; set; }
public string link { get; set; }
public DateTime date { get; set; }

public Meeting(int id, string title, int studentId, int teacherId, string link, DateTime date)
{
this.id = id;
this.title = title;
this.studentId = studentId;
this.teacherId = teacherId;
this.link = link;
this.date = date;
}
}

private Meeting[] mondayEvents = {
new Meeting(0, "Python", 0, 0, "zoom", new DateTime(2024, 5, 9, 14, 43, 0)),
new Meeting(1, "C#", 0, 0, "zoom", new DateTime(2024, 5, 9, 14, 43, 0))
};

@* private string[] mondayEvents = {"Python", "Java"}; *@

private void OpenLessonDetails(int lessonId)
{
Navigation.NavigateTo($"/lesson/{lessonId}");
}
}
